//colors
$brand-blue :      #10A4B5; // Auparavant : #16bcc8;
$brand-greyblue :   #689CB9;
$brand-orange :     #ff9940;
$brand-red :        #C40101;
$white :            #fff;
$gray-light :       #F8F4F4;
$gray-medium  :     #989898;
$gray-dark :        #383838;
$black :            #000;
$green :            #50D55D; // Used in form
$red :              #e94337; // Used in form
$color-primary :    $brand-blue; // Links + buttons (hover / focus)
$color-secondary :  $red; // Links + buttons (active)

// Custom colors for text - see header.php
$color1 : $brand-blue;
$color2 : #148E83;
$color3 : #06796E;
$color4 : #03645A;

$default-text-color : $gray-dark;

// Breakpoints
$tiny_width: pixel(400);
$mobile_width: pixel(680);
$tablet_width: pixel(1080);
$desktop_width: pixel(1279);

$wrapper-small : pixel(480); // Not used yet
$wrapper-medium : pixel(860);
$wrapper-large : pixel(1279);

// Text line-height
$lh-small     : 1.2;
$lh-standard  : 1.5;
$lh-big       : 2;

//z-index
$index-accessibility  : 1000;
$index-modal          : 400;
$index-navigation     : 300;
$index-dropdown       : 200;
$index-overlay        : 100;

$font-text : 'Roboto', 'Arial', sans-serif;
$font-title : 'Roboto Condensed', 'Arial', sans-serif;

$fonts: (
    // A - Font weight
    regular: 400,
    bold: 700,
    // B - Font size
    h1: pixel(32),
    h1-desktop: pixel(45),
    h2: pixel(24),
    h2-desktop: pixel(36),
    h3: pixel(20),
    h3-desktop: pixel(24),
    h4: pixel(20),
    h4-desktop: pixel(20),
    h5: pixel(18),
    h5-desktop: pixel(18),
    h6: pixel(16),
    h6-desktop: pixel(16),
    //text: 1rem,
    text: 15px,
    text-desktop: 1rem,
    small: 1rem,
    small-desktop: 1rem,
);

// Responsive spacing
// Reference - wrapper padding
$horizontal-padding-regular: (
  null: pixel(16),
  $tiny_width: pixel(16),
  $mobile_width: pixel(24),
  $tablet_width: pixel(50),
  $desktop_width: pixel(90),
);

$horizontal-padding-small: (
  null: 2rem,
  $tiny_width: 2rem,
  $mobile_width: 3rem,
  $tablet_width: 5rem,
  $desktop_width: 6rem,
);

$vertical-padding-regular: (
  null: 4rem,
  $tiny_width: 4rem,
  $mobile_width: 5rem,
  $desktop_width: 6rem,
);

  $vertical-padding-small: (
    null: 2rem,
    $tiny_width: 2rem,
    $mobile_width: 2rem,
    $tablet_width: 2.5rem,
    $desktop_width: 3rem,
  );
    $vertical-padding-tiny: (
      null: 1rem,
      $tablet_width: 1.5rem,
    );

$gutter-column: (
  null: 1rem,
  $tiny_width: 1rem,
  $tablet_width: pixel(20),
);

$gutter-row: (
  null: pixel(40),
  $tiny_width: pixel(50),
  //$tablet_width: pixel(50),
);

$footer-space: pixel(135);