#login_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: $gray-dark;
    color: $white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000;

    // Link "Se déconnecter"
    #login_bar_button {
        color: $white;
        &:link,
        &:visited {
            color: $white;
        }
        //@include link-base-layout;
        @include link-base-hover;
        @include link-base-active;
    }
}

// Prevent #content to be hidden by admin bar
#login_bar + #topbar {
    top: 2.5rem;
}
