/*

Style content [#content]

File structure :
------------------
1 - Wrapper settings
  1.1 : Wrapper
  1.2 : Narrow-wrapper
------------------
2 - Vertical Rythm (padding) 
  2.1 : Vertical Padding Regular
  2.2 : Vertical Padding Small
------------------
3 - Link style
  3.1 - Link-default
  3.2 - Link Primary
  3.3 - Button primary
  3.4 - Button ghost
  3.5 - Button cta
  3.6 - Social Icons
------------------
4 - Entry Content
  4.1 - Entry-content global
  4.2 - No useless margin
  4.3 - Entry-content blockquote
  4.4 - Entry-content : List style (ul + ol) 
  4.5 - Entry-content : List variant (ol only)
-------------------
5 - Video Container
  5.1 - Video thumbnail size
  5.2 - Video icon
  5.3 - Interactivity

*/

/* 1 - Wrapper settings
------------------ */

//1.1 : Wrapper (horizontal padding)
@mixin wrapper {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  @include spacing(padding-left, $horizontal-padding-regular);
  @include spacing(padding-right, $horizontal-padding-regular);
  > img,
  > picture {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: auto;
    object-fit: cover;
  }
}
  .wrapper {
    @include wrapper;
  }

.img-responsive {
  max-width: 100%;
  //width: 100%;
  height: auto;
  margin: auto;
  object-fit: cover;
}

  // 1.2 : Wrapper width
  .wrapper-large {
    max-width: $wrapper-large;
  }
    .wrapper-medium {
      max-width: $wrapper-medium;
    }
      .wrapper-small {
        max-width: $wrapper-small;
      }

      .is-centered {
        margin-left: auto;
        margin-right: auto;
      }

/* 2 - Horizontal padding
------------------ */

// 2.1 : Horizontal padding Regular
// Same as .wrapper
.h-padding-regular {
  @include spacing( padding-left, $horizontal-padding-regular );
  @include spacing( padding-right, $horizontal-padding-regular );
}
  // 2.2 : Horizontal padding Small
  .h-padding-small {
    @include spacing( padding-left, $horizontal-padding-small );
    @include spacing( padding-right, $horizontal-padding-small );
  }

/* 3 - Vertical padding
------------------ */

// 3.1 : Vertical padding Regular
.v-padding-regular {
  @include spacing( padding-top, $vertical-padding-regular );
  @include spacing( padding-bottom, $vertical-padding-regular );
}

.btm-padding-regular {
  @include spacing( padding-bottom, $vertical-padding-regular );
}
.top-padding-regular {
  @include spacing( padding-top, $vertical-padding-regular );
}

  // 3.2 : Vertical padding Small
  .v-padding-small {
    @include spacing( padding-top, $vertical-padding-small );
    @include spacing( padding-bottom, $vertical-padding-small );
  }
  .btm-padding-small {
    @include spacing( padding-bottom, $vertical-padding-small );
  }
  .top-padding-small {
    @include spacing( padding-top, $vertical-padding-small );
  }
    // 3.3 : Vertical padding Tiny
    .v-padding-tiny {
      @include spacing( padding-top, $vertical-padding-tiny );
      @include spacing( padding-bottom, $vertical-padding-tiny );
    }
    .btm-padding-tiny {
      @include spacing( padding-bottom, $vertical-padding-tiny );
    }
    .top-padding-tiny {
      @include spacing( padding-top, $vertical-padding-tiny );
    }

/* 4 - Link
------------------ */

// 4.1 - Link Base
// Commun style for all links

@mixin link-base-layout {
  transition: .2s all;
  cursor: pointer;
  .img-in-link {
    transition: .2s opacity;
    opacity: 1;
  }

  &:focus-visible {
    background-color: transparent;
    outline-color: $black;
  }
}

@mixin link-base-hover {
  &:hover,
  &:focus {
      color: $color-primary;
      //text-decoration: underline;
      .img-in-link {
        opacity: 0.5;
      }
  }
}

@mixin link-base-active {
  &:active {
      text-decoration: underline;
      //color: $color-secondary;
      //background-color: $black;
  }
}

  @mixin link-base {
    @include link-base-layout;
    @include link-base-hover;
    @include link-base-active;
  }

// 4.2 - Link-default
@mixin link-default {
  color: $color-primary;

  &:link,
  &:visited {
      color: $color-primary;
  }

  &:hover,
  &:focus,
  &:focus-within {
      color: $black;
      //background-color: $color-secondary;
  }

  &:focus,
  &:focus-within {
    outline-color: $black;
  }

  @include link-base-layout;
  //@include link-base-hover;
  @include link-base-active;
}

.link-default { @include link-default;}

// 4.3 - Link-discrete (no underline)
@mixin link-discrete {
  color: inherit;
  text-decoration: none;
  &:link,
  &:visited {
      color: inherit;
  }
  @include link-base;
}

.link-discrete { @include link-discrete;}

// 4.3.2 - Link-color (for custom ami-color elements)
@mixin link-color {

  &:link,
  &:visited {
    text-decoration: none;
  }
  
  * {
    transition: all .1s;
  }

  &:hover *,
  &:focus * { 
    color: $color-primary;
  }
  

  &:active {
    color: $default-text-color;
    * {
      color: $default-text-color;
    }
  }

  @include link-base-hover;
  @include link-base-active;
  @include link-base-active;
}

.link-color { 
  @include link-color;
}


// 4.4 - Link-black (no underline)
@mixin link-black {
  color: inherit;
  text-decoration: underline;
  &:link,
  &:visited {
      color: inherit;
  }
  @include link-base-hover;
  @include link-base-active;
  @include link-base-active;
}

.link-black { 
  @include link-black;
}

// 4.4 - Button BAse (link or button with icon)

@mixin button-active {
  &:active {
    background: $gray-medium;
    color: $white;
    border-color: $gray-medium;
    outline-color: $gray-medium;
    img, 
    picture {
      filter: invert(1);
    }
  }
}

@mixin button-base {
  display: inline-block;
  text-decoration: none;
  color: $default-text-color;
  @include font-weight(bold);
  text-transform: uppercase;
  transition: .2s all;
  padding: 1em 1.5em 0.8em;
  cursor: pointer;

  &:link,
  &:visited {
    color: $default-text-color;
  }

  > *,
  img, 
  picture {
    transition: inherit;
  }

  > * {
    display: inline;
    vertical-align: middle;
    line-height: $lh-standard;
  }

  // Button with image + text
  &.icon-left {
    img, picture {
      margin-right: 0.5em;
    }
  }

  //Button with text + image
  &.icon-right {
    img, picture {
      margin-left: 0.5em;
    }
  }

  // Focus: outline color
  &:focus,
  &:focus-visible {
    outline-color: $color-primary ;
  }

}

// Icon cliquable - background transparent
@mixin link-icon {
  @include button-base;
  padding: 0.5em;
  line-height: 0;
  background-color: transparent;
  border: 1px solid transparent;
  
    > * {
      filter: grayscale(1) brightness(0.5);
      transition: filter .2s;
    }

  &:hover,
  &:focus,
  &:focus-within {
    color: $default-text-color;
    border-color: $color-primary;
    > * {
      filter: unset;
    }
  }

  @include button-active;
  &:active > * {
    filter: grayscale(1) brightness(4);
  }
}

.link-icon, button.link-icon { 
  @include link-icon;
}

// Button with background-color
@mixin button {

  @include button-base;
  display: inline-block;
  line-height: $lh-small;
  color: $white;
  background-color: $color-primary;
  border: 2px solid transparent;

  &:link,
  &:visited {
    color: $white;
  }

  &:hover,
  &:focus,
  &:focus-within {
    color: $color-primary;
    border-color: $color-primary;
    background-color: $white;
  }
  
  @include button-active;
}

.button { 
  @include button;
}

@mixin button-brd {
  @include button-base;
  @include font(small);
  color: $default-text-color;
  background-color: $white;
  border: 2px solid $default-text-color;

  &:hover,
  &:focus,
  &:focus-within {
    background-color: $black;
    border-color: $black;
    outline-color: $black;
    color: $white;
    img, picture {
      filter: invert(1);
    }
  }
  
  @include button-active;
}

@mixin button-like-brd {
  overflow-wrap: break-word;
  word-break: break-all;
  text-overflow: clip; 
  /* Required for text-overflow to do anything */
  //white-space: nowrap;
  overflow: hidden;

  //max-width: pixel(200);
  max-width: 100%;
  display: inline-block;
  color: $default-text-color;
  background-color: $white;
  border: 1px solid $default-text-color;
  border-radius: 0.25em;
  padding: 0.25em 0.5em 0.125em;
  * {
    display: inline;
    width: 100%;
    overflow-wrap: break-word;
    word-break: break-all;
    text-overflow: clip; 
    /* Required for text-overflow to do anything */
    //white-space: nowrap;
    overflow: hidden;
  
  }
}

.button-brd, button.button-brd {
  @include button-brd;
}

.button-like-brd {
  @include button-like-brd;
}

/* 4 - Entry Content
----------------- */

/*

// 4.1 - Entry-content global
@mixin entry-content {
  font-size: inherit;
  color: inherit;
  line-height: $lh-standard;
  @include no-useless-margin;

  ul, ol {
  //  @include entry-content-list;
  }

  ol {
  //  @include entry-content-ol;
  }
  
  a {
    @include link-default ;
  }

  blockquote {
    margin: 4rem auto;
  //  @include entry-content-blockquote;
  }

  @include no-useless-margin;

}

*/
// 4.2 - No useless margin
@mixin no-useless-margin {
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
      margin-bottom: 0;
    }
}

.no-useless-margin {
  @include no-useless-margin;
}

// Generic style - used in button 
.has-border {
  border: 1px solid $brand-blue;
  transition: all .2s;
  &:hover,
  &:focus {
    border-color: $color-secondary;
  }
  &:active {
    border-color: $black;
  }
}

// Custom background

.bg-banner {
  
  //min-height: 14rem;
  &::after {
    z-index: -1;
    content:"";
    position: absolute;
    top: ( map-get($fonts, h2) * $lh-small ) / 2 ;
    @media screen and (min-width: $tablet_width) {
      top: ( map-get($fonts, h2-desktop) * $lh-small ) / 2 ;
    }
    left: 0;
    width: 100%;
    height: 12.5rem;
  }

  &.bg-banner-h3-title::after {
    top: ( map-get($fonts, h3) * $lh-small ) / 2 ;
    @media screen and (min-width: $tablet_width) {
      top: ( map-get($fonts, h3-desktop) * $lh-small ) / 2 ;
    }
  }

  &.bg-banner-page-title::after {
    top: ((map-get($fonts, h2) * $lh-small) / 2) + map-get($fonts, h1) +  ($lh-small * map-get($fonts, h1)) ; // Decalage + title:margin-bottom (1em) + title:line-height
    @media screen and (min-width: $tablet_width) {
      top: ((map-get($fonts, h2-desktop) * $lh-small) / 2) + map-get($fonts, h1-desktop) +  ($lh-small * map-get($fonts, h1-desktop)); // Decalage + title:margin-bottom (1em) + title:line-height
    }
  }

}

.bg-pattern,
.bg-banner {
  &::after{
    background: url(./image/banner-pattern.svg) repeat;
  }
  &.bg-banner-accueil::after
  {
    background: url(./image/banner-pattern.svg) repeat;
  } 
}

.above-bg-banner,
.bg-banner {
  position: relative;
  z-index: 5;
}

/*
.bg-banner-security {
  min-height: (( map-get($fonts, h2-desktop) * $lh-small ) / 2 ) +  12.5rem ;
}
*/


// Temporary styles
// .wp-block {
//   //background: red;
// }


.hide-child {
  * {
    display: none;
  }
}


.search-card {
  .button-brd {
    margin-top: 1rem;
  }
}