/*

Style Footer [footer.php]

*/

#footer {
    width: 100%;
    border-top: 2px solid $black;
    margin-top: $footer-space;


    // Footer - Part 1 (white background)
    #footer_top {
        padding-top: pixel(60);

        // Mobile Layout : 1 column
        @media screen and (max-width: $tablet-width - 0.01rem) {
            text-align: center;

            > * {
                display: block;
                text-align: left;
                margin: 0 auto pixel(60) auto;
                max-width: pixel(460);
            }

            > #footer-logo {
                text-align: center;
            }
        }

        // Desktop layout : 3 columns
        @media screen and (min-width: $tablet-width) {
            display: grid;
            @include universal-gutter;
            grid-template-areas: 'logo content . social';
            grid-template-columns: 4fr 5fr 1fr 2fr;
            padding-bottom: pixel(60);
            justify-content: left;
            align-items: start;
            
            #footer-logo {
                grid-area: logo;
            }

            #footer-content {
                grid-area: content;
            }

            #footer-social {
                grid-area: social;
                align-self: end;
            }
        }
    }

    // Footer Logo 
    #footer-logo img,
    #footer-logo picture {
        max-height: pixel(100);
        width: auto;
        @media screen and (min-width: $mobile-width) {
            max-height: pixel(120);
        }

        &:nth-of-type(2) {
            margin-left: pixel(20);
        }
    }

    // Link to faq
    #footer_faq {
        display: block;
        margin-bottom: 1em;
    }

    // Footer - Part 2 (grey background)
    #footer_bottom {

        padding: 1.5rem 0;

        // Footer Menu
        .menu-Last {
            max-width: $wrapper-large;
        }

        ul {
            margin-left: auto;
            margin-right: auto;
            padding: 0;
            box-sizing: border-box;
            display: flex;
            flex-flow: row wrap;
            list-style-type: none;
            text-align: center;
            justify-content: center;
            &:first-child {
                margin-bottom: 1rem;
            }

            a {
                @include link-discrete;
            }

            li:not(:last-child) {
                margin: 0;
                margin-right: 3rem;
                position: relative;
                &:after {
                    content : "";
                    position: absolute;
                    height: 1rem;
                    width: 2px;
                    background-color: currentColor;
                    top: 50%;
                    transform: translate(0,-50%);
                    right: -1.5rem;

                }
            }
        }
    }


}
