// Block : Qui-sommes-nous ? (page d'accueil)

.blk-about > ol > li {

}
// item-width
$blk-about-item : $wrapper_large / 3;
$blk-breakpoint-medium : (2 * $blk-about-item) + ( 2 *  map-get($horizontal-padding-regular, $tablet_width));
$blk-breakpoint-large : (3 * $blk-about-item) + ( 2 *  map-get($horizontal-padding-regular, $desktop_width));

$blk-about-gutter : map-get($gutter-column, $tablet_width);
$blk-about-margin : ($blk-about-gutter / 2);

.blk-about {

    > ol {
        list-style: none;
        counter-reset: ihag-counter;
        padding: 0;
        width: 100%;
    
        @media screen and (min-width: $blk-breakpoint-large){
            max-width: $wrapper-large;
        }

        > li {
            // Style
            box-sizing: border-box;
            counter-increment: ihag-counter;
            display: inline-block;
            vertical-align: top;
            width: 100%;
            min-height: pixel(100); // equals ::before.line-height
            margin-bottom: 1rem;

            &::before {
                content: counter(ihag-counter) ".";
                font-size: pixel(100);
                font-family: $font-title;
                //color: $gray-medium;
                color: #E5E5E5;
                line-height: 1;
                width: 1em;
                float: left;
            }

            > div {
                width: 100%; 
                padding-left: pixel(100); // equals ::before.line-height
                vertical-align: inherit;
            }

            // Structure
            // Mobile : 1 Column layout
            @media screen and (max-width: $blk-breakpoint-medium - 0.01rem ) {
                max-width: $blk-about-item;
            }

            // Structure
            // Tablet : 2 Columns layout
            @media screen and (min-width: $blk-breakpoint-medium) and (max-width: $blk-breakpoint-large - 0.01rem ) {
                max-width: $blk-about-item - $blk-about-margin;
                margin-right: $blk-about-margin;
                margin-bottom: 3rem;
                &:nth-child(2n) {
                    margin-right: 0;
                    margin-left: $blk-about-margin;
                }
            }

            // Desktop : 3 Columns layout
            @media screen and (min-width: $blk-breakpoint-large ) {
                max-width: $blk-about-item - $blk-about-gutter;
                margin-left: $blk-about-margin;
                margin-right: $blk-about-margin;

                &:nth-child(3n) {
                    margin-right: 0;
                }

                &:nth-child(3n-2) {
                    margin-left: 0;
                }
            }
        }
    }
}