.blk-contact {
    > .border {
        position: relative;
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            height: 1px;
            width: pixel(220);
            background-color: $black;
        }
        &::before{
            top: 0;
        }
        &::after{
            bottom: 0;
        }
    }

    input {
        margin-top: 2rem;
    }
}