/*

Style Gutenberg Block Event [evenement.php]

File structure :
------------------
1 - Bloc layout
    1.1 - All children
    1.2 - Time
    1.3 - Button
------------------

*/

$download-item : pixel(260);

.blk-download {
    ul, li {
        list-style: none;
        padding: 0;
        color: $brand-greyblue;
    }
    p {
        color : $default-text-color;
    }

    a {
        display: block;
        padding-top: pixel(6);
        min-height: pixel(38); // Equals icon.height
        box-sizing: border-box;

        img,
        picture {
            float: left;
            margin-right: 0.5rem;
            margin-top: -(pixel(6));
        }

        h4 {
            display: inline;
            text-decoration: underline;
        }
    }

    //  Design Basic : 1 column, no image, no description
    .display-basic {
        display: block;
        margin-bottom: pixel(12);
        &:last-child {
            margin-bottom: 0;
        }
    }

    //  Design Image : up to 4 columns, image & description shown

    .display-image {
        display: inline-block;
        max-width: $download-item;
        vertical-align: top;
        margin: 0 1rem 1rem 1rem;
        > a {
            margin: pixel(25) 0;
        }
    }

    .doc-thumb {
        border: 1px solid $gray-medium;
        width: 100%;
        height: auto;
        @media screen and ( min-width : $download-item + ( 2 * map-get($horizontal-padding-regular, $mobile_width)) ) {
            width: $download-item;
        }
    }

}
