/*

Style Gutenberg Block Event [evenement.php]

File structure :
------------------
1 - Bloc layout
    1.1 - All children
    1.2 - Time
    1.3 - Button
------------------

*/

.blk-home-ademe {
    position: relative;
    overflow: hidden;
    background: linear-gradient( to right, rgba(#6D808E, 0), rgba(#6D808E, 0.75) );
    color: $white;
    //@include spacing(margin-bottom, $vertical-padding-regular);
    margin-bottom:2em;
    padding: 2rem 0;
    @media screen and (min-width: $tiny_width) {
        padding: 4rem 0;
        @media screen and (min-width: $mobile_width) {
            padding: pixel(50) 0;
            /*@media screen and (min-width: $tablet_width) {
                padding: pixel(180) 0;
                @media screen and (min-width: $desktop_width) {
                    padding: pixel(240) 0;
                }
            }*/
        }
    }
    

    .layout-content {
        min-height: pixel(220);
        @media screen and (min-width: $tiny_width) {
            display: grid;
            @include universal-gutter;
            grid-template-columns: 1fr 1fr;
            .content-img {
                justify-self: center;
                align-self: center ;
            }
        }
    }

    .content-img {
        text-align: center;
        width: 100%;
        display: inline-block;
        * {
            width: auto;
            max-width: 50vw;
            height: auto;
            @media screen and (min-width: $tiny_width) {
                max-width: 100%;    
            }
        }
    }

    h1 {
        margin-top:0;
        font-size: pixel(24);

        // For Tiny Screen
        @media screen and (max-width: $tiny_width) {
            margin-bottom: 1em;
        }

        // For Mobile Screen
        @media screen and (min-width: $mobile_width) {
            font-size: pixel(48); 
            // For tablet screen and above
            @media screen and (min-width: $tablet_width) {
                font-size: pixel(72); 
            }
        }
    }



    .txt-title {
        padding: 0 0.25em;
        display: inline-block;
        line-height: $lh-standard;
        background-color: $color-primary;
        font-size: inherit;
    }

    .txt-content {
        text-shadow: rgb(0, 0, 0) 3px 0 3px;

        filter: drop-shadow(0px 3px 6px rgba($black, 0.95) );
        display: block;
        font-size: pixel(24);
        @media screen and (min-width: $mobile_width) {
            font-size: pixel(32); 
            padding-left: 1.5em;
            @media screen and (min-width: $tablet_width) {
                font-size: pixel(48); 
            }
        }
    }

    .bg-image {
        z-index: -5;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        //opacity: 0.75;
    }

}


// White pattern behind text
.blk-home-ademe .bg-banner::after {
    z-index: -1;
    width : 100vw;
    height: 100%;
    left: - map-get($horizontal-padding-regular, $tiny_width );

    @media screen and (min-width: $mobile_width) {
        left: - map-get($horizontal-padding-regular, $mobile_width );

        @media screen and (min-width: $tablet_width) {
            min-height: pixel(200);
            left: - map-get($horizontal-padding-regular, $tablet_width );

            @media screen and (min-width: $desktop_width) {
                left: - map-get($horizontal-padding-regular, $desktop_width );
            }
        }
    }
}